/* reset css*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}
#nav .subnav{
    list-style-type: none;
}

/*common*/
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.mt-8px{
    margin-top: 8px;
}
.mt-16px{
    margin-top: 16px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100% / 3);
}
.col-full{
    width: 100%;
}


/*main*/

#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}

#nav{
    display: inline-block;

}

#nav, .subnav{
    list-style-type: none;
}

#nav>li{
    display: inline-block;
}

#nav li{

    position: relative;
}

#nav>li>a{
    color: #fff;

}

#nav li a{

    text-decoration: none;
    line-height: 46px;
    padding: 0 22px;
    display: block;

}

#nav>li:hover>a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    position: absolute;
    background-color: #fff;
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav li:hover  a{
    color: aqua;
    background-color: #ccc;
}



#nav .subnav  a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}

#nav .nav-angle-down{
    font-size: 14px;
}

#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu,
#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 24px;


}

#header .mobile-menu:hover
{
    background-color: #ccc;
}
#header .mobile-menu:hover .mobile-icon{
    color: #000;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-icon,
#header .search-icon{
    color: #fff;


}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider1/ny.jpg) top center / cover no-repeat;

}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;


}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0;
}

#slider .text-decription{
    font-size: 15px;
    text-shadow: 0 0 1px #000;


}


#content{



}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;

}

#content .content-section .section-heading{

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;

}

#content .content-section .section-sub-heading{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .content-section .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;

}

#content .members-lish{
    margin-top: 47px;
}


#content .members-name{
    font-size: 15px;

}

#content .members-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
    margin-bottom: 64px;
}

#content .tour-section{
    background-color: #000;
}

#content .tour{
    background-color: #fff;
    list-style: none;


}

#content .tour li{
    color: #757575;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;

}

#content .tour .sold-out{
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    font-size: 15px;
    padding: 4px;

}

#content .tour .tickets{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

#content .place-list{
    margin-top: 32px;




}

#content .place-item{
    margin-bottom: 128px;
}

#content .place-img{
    width: 100%;
    display: block;
}
#content .place-img:hover{
    opacity: 0.6;
}
#content .place-body{
    background-color: #fff;
    padding: 16px;
}
#content .place-heading{

    font-size: 15px;

}
#content .place-time{
    margin-top: 15px;
    font-size: 15px;
    color: #757575;

}
#content .place-desc{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.4;

}
#content .place-tickets{

    font-size: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    border: none;

}
#content .place-tickets:hover{
    color: #000;
    background-color: #ccc;
}


#footer{
    padding: 64px 16px;

}
.icon-section{
    text-align: center;
    font-size: 20px;
    color: rgb(0,0,0,0.6);

}
.icon-section a:hover{
    color: rgb(0,0,0,0.4);
}
.copy-right{
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
    color: rgb(0,0,0,0.6);
}
.copy-right a{
    cursor: pointer;
    color: rgb(0,0,0,0.6);
}


.modal
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;


}
.modal.open{
    display: flex;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalfadein ease 0.4s;
}

.modal .close{

    position: absolute;
    right: 0;
    padding: 8px 16px;
    cursor: pointer;
}

.modal .close:hover{
    color: #000;
    background-color: #ccc;
}
.modal .close .ti-close{
    color: #fff;
    font-size: 14px;
}
.modal .close:hover .ti-close{
    color: #000;

}


.modal .modal-header{
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .modal-header .ti-bag{
    font-size: 34px;
    color: #fff;
    padding: 0 16px 0 0;
}

.modal .modal-body{
    padding: 0 16px;
}

.modal .modal-label{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #000;
}

.modal .modal-input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 20px;
}

.modal #modal-button{
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}
.modal #modal-button:hover{
    color: #000;
    background-color: #ccc;

}

.modal .modal-footer{
    margin: 15px 0;
    text-align: right;
    padding: 16px;
}
.modal .modal-footer a{
    color: #2196F3;

}



.form-contact{
    margin-top: 48px;
    padding: 32px 0;
}
.row .info-contact{
    font-size: 15px;
    line-height: 1.4;
}

.info-contact i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.info-contact a{
    color: #101aef;
    opacity: 0.8;
}
.info-contact a:hover{
    opacity: 1;
}

.info1-contact{
    font-size: 15px;
}
.form-control{
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.send-contact{
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    padding:10px 16px;
    float: right;
}
.send-contact:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.map-section .map-img{
    max-width: 100%;

}



@keyframes modalfadein{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

